body {
    font-family: 'Times New Roman', Times, serif ;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    font-size: 18px;
}

header, footer {
    background: #0033cc; 
    color: #fff;
    text-align: center;
    padding: 1em 0;
    font-size: 18px;
}

header .logo {
    width: 100px;
    height: auto;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}
table {
    width: 100%;
    border-collapse: collapse;
}
th, td {
    border: 1px solid black;
    padding: 8px;
    text-align: left;
}

.batsmen th {
    background-color: #e0f7fa;
}
.bowlers th {
    background-color: #ffeb3b;
}

main {
    margin: 20px;
    font-size: 18px;
}

section {
    background: #fff;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    font-size: 18px;
}



footer p {
    margin: 0;
    font-size: 18px;
}
